/* 
Acomodamiento para las reglas de CSS
1. Posicionamiento
2. Modelo de Caja
3. Topografía.
4. Visuales.
5. Otros
*/

:root {
    /* Colores */
    --bitcoint-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF; 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* --------------
Helpers
-------------- */

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/* -----------------
Header Section
----------------- */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    /* align-self indica la alineación de un elemento dentro del bloque que lo contiene */
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    top: 270px;
    left: calc(50% - 114px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-left: 5px;
    background-image: url('../assets/icons/arrow-down.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* -----------------
Main Section
----------------- */

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

/* -----------------
Exchange Section
----------------- */
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* -----------------
Table Currency Section
----------------- */

.main-tables-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    
}

.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-tables__arrow-left,
.main-tables__arrow-right {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
}

.main-tables__arrow-left span{
    display: inline-block;
    width: inherit;
    height: inherit;
    background-image: url('../assets/icons/arrow-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-tables__arrow-right span{
    display: inline-block;
    width: inherit;
    height: inherit;
    background-image: url('../assets/icons/arrow-right.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.currency-table__title {
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    text-align: left;
    color: var(--bitcoint-orange);
}

.currency-table__title--comission {
    color: var(--secondary-blue);
}

.currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container td {
    width: 50%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.currency-table__container .table--top-right {
    border-radius: 0 15px 0 0;
}

.currency-table__container .table--bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table__container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table__container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.currency-table__date--comission {
    background-color: var(--soft-blue);
}

.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}

/* -----------------
Product Detail Section
----------------- */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.main-product-detail .main-product-detail__icon {
    position: absolute;
    top: -12px;
    left: calc(50% - 20px);
    display: inline-block;
    width: 40px;
    height: 24px;
    background-image: url('../assets/icons/papa-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}

.product-detail__title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-cards__container{
    width: 100%;
}

/* ------------------------------------------
Product Detail Section > Product Detail Card
------------------------------------------ */

.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    /* esto nos ayudara para que el contenido crezca y el texto no tenga un overflow */
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product__card-title {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product__card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail__card .clock {
    background-image: url('../assets/icons/clock.svg');
}

.product-detail__card .eye {
    background-image: url('../assets/icons/eye.svg');
}

.product-detail__card .money {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.product-detail__card .check-arrow {
    background-image: url('../assets/icons/check-circle.svg');
}

/* --------------------
Bitcoing Img Section
-------------------- */

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    text-align: center;
    background-image: url('../assets/imgs/bitcoinbabyX2.png');
    background-position: center;
    background-size: no-repeat;
    background-size: cover;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* --------------------
Price Section
-------------------- */

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.plans__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans__title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;

}

.plans-container__slider {
    display: flex;
    height: 316px;
    /* Usamos esta propiedad cuando un contenido se desvorda de un bloque en el eje x */
    overflow-x: scroll;
    /* Establece el comportamiento del navegador cuando se alcanza el limite horizontal */
    overscroll-behavior-x: contain;
    /* Nos permite ajustar la posiciones de nuestro scroll
    - El primer valor "x" significa que ajustará los puntos en horizonta.
    - El segundo valor indica si el viewport de nuestro contenido se debe ajustar a los elementos de forma obligatoria o aproximada" */
    scroll-snap-type: x mandatory;
}

.plans-container-card {
    position: relative;
    /* Esta propiedad se aplica a los elementos de nuestro contenedor, e indica como se tendran que alinear el elemento en el viewport*/
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 233px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,39, 0.16);
}

.plans-container__slider article:nth-child(1){
    margin-left: 80px;
}

.plans-container__slider article:last-child{
    margin-right: 80px;
}

.recommended {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    width: 120px;
    height: 31px;
    /*
    Usamos medidas del contenedor ya que con la etiqueta p podemos darle las medidas
    
    display: inline-block;
    */
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--bitcoint-orange);
}


.plan-card__title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000;
}

.plan-card__price {
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: 500;
    line-height: 5.3rem;
    color: #000;
}

.plan-card__price span {
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    color: #757575;
}

.plan-card__saving {
    font-size: 1.2rem;
    color: #757575;
}

.pland-card__cta {
    width: 154px;
    height: 48px;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    border: 2px solid var(--bitcoint-orange);
    border-radius: 4px;
    color: var(--warm-black);
    background-color: var(--off-white);
    cursor: pointer;
}

.pland-card__cta span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
    vertical-align: middle;
    background-image: url('../assets/icons/arrow-right-yellow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer */

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoint-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.footer-section__left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer-section__left ul li {
    margin: 10px 0;
}

.footer-section__left ul li a{
    text-decoration: none;
    color: var(--just-white);
}